<h1>Welcome to The Coffee Project</h1>
 <h2><a href="/coffee_reviews">
      Coffee Reviews
    </a></h2>
    
<h3>What is Specialty Coffee?</h3>
<p>
  From <a href="https://en.wikipedia.org/wiki/Specialty_coffee" target="_blank">Wikipedia</a>
</p>

<p>
  Specialty coffee is a term for the highest grade of coffee available, typically relating to the entire supply chain, using single-origin or single-estate coffee.
</p>

<p>
<img src="https://eicd58qj5vd.exactdn.com/sg/wp-content/uploads/sites/2/2019/07/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg?strip=all&lossy=1&resize=921%2C1377&ssl=1" width="300" height="420">
</p>
